<h2>HI!</h2>
<div id="edit_vol_prof">
<%= simple_form_for @volunteer do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :skills %> <!-- change this to buttons -->
<%= f.input :job_history %> <!-- linkedin? -->
<%= f.input :phone %>
<%= f.input :availability %>
<%= f.input :location %>
<%= f.input :portfolio_links %>
<%= f.button %>
</div>









