<div>
  <ul class='dash_menu'>

    <li class='one' class='picture'><%= image_tag avatar_url(current_user) %></li>

    <li class='two' class='profile'><%= link_to "Profile", class:'menu_link', id: 'profile_button' %>
      <ul class='submenu'>
        <li><%= link_to 'Edit Account', '/dashboards/edit_volunteer_profile', class:'menu_link', remote:true %></li>
        <li><%= link_to 'Change Email/Password', edit_user_registration_path, class:'menu_link', remote:true %></li>
      </ul>
    </li>
    <li class='three' class='projects'><%= link_to "Projects", '#', id: 'projects_button' %>
      <ul class='submenu'>
        <li><%= link_to "Interested In", '/dashboards/interested_in', class:'menu_link', remote: true %></li>
        <li><%= link_to "Working on", '/dashboards/working_on', class:'menu_link', remote: true  %></li>
        <li><%= link_to "Completed", '/dashboards/v_completed_projects', class:'menu_link', remote: true %></li>
      </ul>
    </li>
    <li><%= link_to "Feedback" %></li>

  </ul>

</div>

<div class="dash_content">
  <%= render 'volunteer_profile' %>
</div>




