<div>
  <ul class='dash_menu'>

    <li class='one' class='picture'>PICTURE</li>

    <li class='two' class='profile'><%= link_to "Profile", '#', id: 'profile_button' %>
      <ul class='submenu'>
        <li><%= link_to 'Edit Account', edit_volunteer_path %></li>
        <li><%= link_to 'Change Email/Password', edit_user_registration_path %></li>
      </ul>
    </li>
    <li class='three' class='projects'><%= link_to "Projects", '#', id: 'projects_button' %>
      <ul class='submenu'>
        <li><%= link_to "Interested In", '#', class:'menu_link', remote: true %></li>
        <li><%= link_to "Working on", class:'menu_link', remote: true  %></li>
        <li><%= link_to "Completed", class:'menu_link', remote: true %></li>
      </ul>
    </li>
    <li><%= link_to "Feedback" %></li>

  </ul>

</div>

<div class="dash_content">
</div>

  


