<div>
  <ul id='dash_menu'>

    <li id='one' class='picture'>PICTURE</li>

    <li id='two' class='profile'><%= link_to "Profile", '#', id: 'profile_button' %>
      <ul class='submenu'>
        <li><%= link_to 'Edit Account', edit_volunteer_path %></li>
        <li><%= link_to 'Change Email/Password', edit_user_registration_path %></li>
        <li><%= link_to "Delete Profile" %></li>
      </ul>
    </li>
    <li id='three' class='projects'><%= link_to "Projects", '#', id: 'projects_button' %>
      <ul class='submenu'>
        <li><%= link_to "Interested In" %></li>
        <li><%= link_to "Working on" %></li>
        <li><%= link_to "Completed" %></li>
      </ul>
    </li>
    <li><%= link_to "Feedback" %></li>

  </ul>

</div>

<div id="v_content">
</div>

  


