<div id="v_menu">
  <ul>
    <li>PICTURE</li>
    <li><%= link_to "Profile", '#', id: 'profile_button' %></li>
    <div class="profile">
      <li><%= link_to 'Edit Account', edit_volunteer_path %></li>
      <li><%= link_to 'Change Email/Password', edit_user_registration_path %></li>
      <li><%= link_to "Delete Profile" %></li>
    </div>
    <li><%= link_to "Projects", id: 'projects_button' %></li>
    <div class="projects">
      <li><%= link_to "Interested In" %></li>
      <li><%= link_to "Working on" %></li>
      <li><%= link_to "Completed" %></li>
    </div>
    <li><%= link_to "Feedback" %></li>
</div>

<div id="v_content">
  RENDER A PARTIAL :D
</div>

  


