<div id="org_profile">
  <h1>Org Profile</h1>
  <ul>
    <li>Name: <%= @organization.org_name %></li>
    <li>Year Founded: <%= @organization.year_founded %></li>
    <li>Org size: <%= @organization.size %></li>
    <li>Website: <%= @organization.url %></li>
    <li>Causes: <%= @organization.cause %></li>
    <li>Mission: <%= @organization.mission %></li>
    <li>Program Description: <%= @organization.description %></li>
  </ul>
</div>
