<div id="edit_org_prof">
<%= simple_form_for @organization do |f| %>
<%= f.input :org_name %>
<%= f.input :location %>
<%= f.input :user_id %>
<%= f.input :cause %>
<%= f.input :mission %>
<%= f.input :description %>
<%= f.input :year_founded %>
<%= f.input :size %>
<%= f.input :url %>
<%= f.input :avatar %>
<%= f.button :submit %>
</div>
