<h2>Create Organization Profile</h2>
<div id="create_org_prof">
<%= simple_form_for current_user.organization do |f| %>
<%= f.input :org_name %>
<%= f.input :location %>
<%= f.input :cause %> <!-- adjust to pick list -->
<%= f.text_area :mission %>
<%= f.input :description %>
<%= f.input :year_founded %>
<%= f.number_field :size %>
<%= f.url_field :url %>
<%= f.input :avatar %>
<%= f.button :submit %>
<% end %>
</div>
