<div id="org_stats">
  <h1>Org Stats</h1>
   <ul>
    <li><%= @organization.org_name %></li>
    <li><%= @organization.year_founded %></li>
    <li><%= @organization.cause %></li>
    <li><%= @organization.description %></li>
    <li><%= @organization.mission %></li>
    <li><%= @organization.url %></li>
    <li><%= @organization.size %></li>
  </ul>
</div>


<div id="org_details">
  <h1>Projects Posted</h1>
</div>
