<div id="org_menu">
  <ul>
    <li><%= link_to "Photo" %></li>
    <li><%= link_to "Profile" %> </li>
    <li><%= link_to "Project Requests" %></li>
    <li><%= link_to "Feedback" %></li>
  </ul>

  <%= link_to 'Edit Account', edit_organization_path %>

</div>

<div id="org_content">

</div>
