<div id="_menu">
  <ul>
    <li> PICTURE </li>
    <li><%= link_to "Profile", '#', id: 'profile_button'  %> </li>

    <div class="profile">
      <li><%= link_to 'Edit Account', edit_organization_path %></li>
      <li><%= link_to 'Change Email/Password', edit_user_registration_path %></li>
      <li><%= link_to "Delete Profile" %></li>
    </div>

    <li><%= link_to "Projects", '#', id: 'org_projects_button' %></li>
    <li><%= link_to "Feedback" '#' %></li>
  </ul>



</div>

<div id="org_content">

</div>
