<div id="carousel_wrapper"> <!-- start carousel_wrapper -->
  <div id="fwslider"> <!-- start fwslider -->
    <div class="slider_container"> <!-- start slider_container -->
      <div class="slide">
        <%= image_tag '/assets/carousel_01.jpg' %>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <h4 class="title">PROJECT BLUE</h4>
            <p class="description">Get involved and help Project Blue keep the ocean clean.</p>
            <a class="readmore" href="/projects/1">Learn More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <%= image_tag '/assets/carousel_02.jpg' %>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <h4 class="title">STOMP OUT HUNGER</h4>
            <p class="description">Join Stomp Out Hunger in the fight against starvation.</p>
            <a class="readmore" href="/projects/2">Learn More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <%= image_tag '/assets/carousel_03.jpg' %>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <h4 class="title">CLEAN AIR</h4>
            <p class="description">Keep earth green through Clean Air's partnership with Geek Seek.</p>
            <a class="readmore" href="/projects/3">Learn More</a>
          </div>
        </div>
      </div>
    </div> <!-- end slider_container -->
    <div class="timers"></div>
    <div class="slidePrev"><span></span></div>
    <div class="slideNext"><span></span></div>
  </div> <!-- end fwslider -->
</div> <!-- end carousel_wrapper -->

<div id="about_wrapper"> <!-- start about_wrapper -->
  <div id="about_container"> <!-- start about_container -->
    GEEKSEEK CONNECTS TECHNOLOGY PROFESSIONALS WITH NON-PROFIT ORGANIZATIONS
  </div> <!-- end about_container -->
</div> <!-- end about_wrapper -->

<div id="sign_up_wrapper"> <!-- start sign_up_wrapper -->
  <div id="sign_up_container"> <!-- start sign_up_container -->
    <div id="sign_up_v">
      <%= render "devise/registrations/sign_up_v" %>
    </div>

    <div id="sign_up_org">
      <%= render "devise/registrations/sign_up_org" %>
    </div>
  </div> <!-- end sign_up_container -->
</div> <!-- end sign_up_wrapper -->

<div id="feature_wrapper"> <!-- start feature_wrapper -->
  <div id="feature_container"> <!-- start feature_container -->
    <div id="feature_left">
      <iframe src="http://player.vimeo.com/video/47532705?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div id="feature_right">
      <div class="text_wrapper">
      <h3>FEATURED ORGANIZATION &raquo; CHARITY: WATER</h3>
      Based in New York City, Charity: Water uses both mainstream and social media platforms to raise awareness, including annual galas and events arranged via Twitter. The initiative has received donations from 50,000 individuals. Dedicated donors cover administrative costs, so donations from the general public go to fund water projects. It provides GPS coordinates and photos of the wells it builds. The organization has 20 full-time staff members, 10 interns and more than 800 volunteers. Charity: Water uses 100% of public donations to fund clean water projects as its operating costs are funded by private donors, foundations and sponsors.
      </div>
    </div>
  </div> <!-- end feature_container -->
</div> <!-- end feature_wrapper -->
