<div id="footer_left">
	Change me
</div>

<div id="footer_center">
	<h3>Follow Us</h3>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_fb.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'facebook.com/geekseekme', 'http://www.facebook.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_twitter.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'twitter.com/geekseekme', 'http://www.twitter.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_pinterest.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'pinterest.com/geekseekme', 'http://www.pinterest.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_youtube.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'youtube.com/geekseekme', 'http://www.youtube.com' %></span>
	</div>


</div>

<div id="footer_right">
<h3>GeekSeek.me</h3>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
</div>

<div id="copyright">
	Copyright &copy; MMXIII, GeekSeek.me. All rights reserved.
</div>