<div id="logo">
  <%= link_to "Develop For Good", root_path, :class => "brand" %>
</div>

<div id="menu">

  <ul>
    <% if current_user.profile_type == "organization" %>
    <li><%= link_to 'View Dashboard', organization_path(current_user)  %></li>
    <% end %>

    <% if current_user.profile_type == "volunteer" %>
    <li><%= link_to 'View Dashboard', volunteer_path(current_user)  %></li>
    <% end %>

 <% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
  </ul>
  <% else %>
  <ul>
  	<li>
  		<%= link_to 'Sign In', new_user_session_path, :id => 'sign_in_button' %>
      <%= render "devise/sessions/sign_in" %>
    </li>
  </ul>
  <% end %>
</div>
