<ul class='dash_menu'>
  <li class='one' class='picture'>PICTURE</li>
  <li class='two' class='profile'><%= link_to "Profile", "#", id: 'profile_button', remote: true %>
    <ul class='submenu'>
      <li><%= link_to 'Edit Account', edit_organization_path, remote: true %></li>
      <li><%= link_to 'Change Email/Password', edit_user_registration_path, remote: true %></li>
    </ul>
  </li>
  <li class='three' class='projects'><%= link_to "Projects", '#', id: 'projects_button' %>
    <ul class='submenu'>
      <li><%= link_to "Create New Project",  '/dashboards/new_project', remote: true %></li>
      <li><%= link_to "Manage Current Projects", '/dashboards/current_org_projects', remote: true %></li>
      <li><%= link_to "View Completed Projects", '/dashboards/completed_org_projects', remote: true %></li>
    </ul>
  </li>
</ul>