<!DOCTYPE html>
<html>
<head>
  <title>LETS CHANGE THE NAME PLEASE :)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
  <div id="header_wrapper">
    <div id="header_container">
      <div id="logo">
        LOGO
      </div>
      <div id="menu">
        <%= render 'layouts/navigation' %>  
      </div>
    </div>   
  </div>

  <div id="content_wrapper">
    <div id="content_container">
      <div id="image_carousel">
        IMAGE CAROUSEL
      </div>
      <div>
        SIGN UP(S?)
      </div>
    </div>
  </div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
=======
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
>>>>>>> 9cdba1e50be92d902269c8acea702d61ef351b92

<div id="user_nav">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>. Not you?
		
	<% end %>
</div>

</body>

<div id="footer_wrapper">
  <div id="footer_container">
    <div>
      MENU AGAIN
    </div>
    <div>
      ABOUT US
    </div>
    <div>
      FOLLOW US ON 717 CALIFORNIA STREET
    </div>
  </div>
</div>

</html>
