<h1>Active Projects</h1>
<div class="projects">
  <% @projects.each do |project| %>
    <%= link_to "#{project.title}", project_path(project) %> <br>
    Interested Volunteers: <br>
      <% project.volunteers.each do |volunteer|%>
        <%= link_to "#{volunteer.full_name}", volunteer_path(volunteer) %>
        <%= mail_to "#{volunteer.user.email}", name = "Email" %>
        <%= link_to "Accept", "#" %>
         <%= link_to "Deny", "#" %> <br>
      <% end %>
  <% end %>
</div>
