    <div id="image_carousel">
      <ul class="carousel">
        <li><%= image_tag '/assets/carousel_01.jpg' %></li>
        <li><%= image_tag '/assets/carousel_02.jpg' %></li>
        <li><%= image_tag '/assets/carousel_03.jpg' %></li>
      </ul>
    </div>

    <div id="sign_up">

      <div class="field">
      <%= link_to "Sign up", '#', id: 'signup_v' %>
      </div>

      <div class="sign_up">
        <%= render "devise/registrations/signup_v" %>
      </div>

      <div class="field">
      <%= link_to "Sign up", '#', id: 'signup_org' %>
      </div>

      <div class="sign_up">
        <%= render "devise/registrations/signup_org" %>
      </div>
    </div>

    <div id="inner_content">
    	other content
    </div>

