<div id="image_carousel">
  <ul class="carousel">
    <li><%= image_tag '/assets/carousel_01.jpg' %></li>
    <li><%= image_tag '/assets/carousel_02.jpg' %></li>
    <li><%= image_tag '/assets/carousel_03.jpg' %></li>
  </ul>
</div>

<div class="inner_content">

  <div id="sign_up">

  <div class="field">
    <%= link_to "Sign up", '#', id: 'sign_up_v' %>
  </div>

  <div class="sign_up">
    <%= render "devise/registrations/sign_up_v" %>
  </div>

  <div class="field">
    <%= link_to "Sign up", '#', id: 'sign_up_org' %>
  </div>

  <div class="sign_up">
    <%= render "devise/registrations/sign_up_org" %>
  </div>

</div>

  <div class="inner_content_left"><%= image_tag '/assets/medium_photo_01.jpg', class: 'medium_photo' %></div>

  <div class="inner_content_right">
    <h3>Welcome to GeekSeek</h3>
    GeekSeek brings together Developers and Designs looking to use their skills to give back, with non-profits who need them most.  We've made it simple for organizations to post a technology request and our easy to use search functions means volunteers can find the perfect project in no time.  Ready to get started?  Click the sign up link above to start your GeekSeek!
  </div>

</div>

