<h1>Title: <%= @project.title %> </h1>
<li>Completion Date: <%= @project.target_date %> </li>
<li> Summary: <%= @project.summary %> </li>
<li>Categories: </li>
  <ul>
    <% @project.categories.each do |category| %>
    <li><%= category.category_type %></li>
    <% end %>
  </ul>
<li>Why is this important to the organization: <%=@project.importance %></li>
