<div id="project_info">
  Project info
  <div>
    <%= link_to "I'm interested in this project", "#apply", class: "fancybox", id: 'interested' unless current_user.volunteer_for?(@project) %>
  </div>

  <div id="project_stats">
    <%= @project.title %> <br>
    Completion Date: <%= @project.target_date %> <br>
    Project Details: <%= @project.summary %> <br>
    Why is this important to the organization: <%= @project.importance %> <br>
    Category: <br>
    <% if @project.categories %>
    <% @project.categories.each do |category| %>
    <%= category.category_type %> <br>
    <% end %>
    <% end %>
  </div>
</div>

<p>
  <div id="org_stats">

    <h2>Organization Stats</h2>
    <%= image_tag @project.organization.avatar.to_s %> <br>
    Organization Name: <%= @project.organization.org_name %> <br>
    Organization location: <%= @project.organization.location %> <br>
    Year Founded: <%= @project.organization.year_founded %> <br>
    Size: <%= @project.organization.size %> employees <br>
    Cause(s): <br>
    <% if @project.organization.causes %>
    <% @project.organization.causes.each do |cause| %>
    <%= cause.cause_type %> <br>
    <% end %>
    <% end %>
  </div>
</p>

<p>
  <div id="org_info">
    <h2>Organization Info</h2>

    Mission: <%= @project.organization.mission %> <br>
    Program Description: <%= @project.organization.description %> <br>

  </div>
</p>

<div id="related_projects">
  related projects
</div>


<div id="apply">
  <% if user_signed_in? %>
    <% if current_user.volunteer.present? %>
      <p>Send a message to <%= @project.organization.org_name %>:</p>
      <%= simple_form_for @project.interests.build, remote: true do |f| %>
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.text_field :message %>
        <%= f.button :submit , id:'apply_submit' %>
      <% end %>
    <% else %>
      <%= render "volunteers/form", :volunteer => current_user.build_volunteer, :project_id => @project.id, :options => {} %>
    <% end %>

  <% else %>
    <p>Please sign up:</p>
    <%= link_to 'Sign In', "#sign_in_form", :id => 'sign_in_button', class: "fancybox" %>
    <p>or</p>
    <%= render '/devise/registrations/sign_up_v' %>
  <% end %>
</div>

<div id="confirmation" class='fancybox' >
  <p>Thanks, bitch.</p>
</div>




