<div class="dash_content">
  <h1>ORGANIZATION PROFILE</h1>



    Name: <%= @organization.org_name %>
    <strong>Year Founded: </strong> <%= @organization.year_founded %><br><br>
    <strong>Causes: </strong> <br><br>

      <% @organization.causes.each do |cause| %>
      <%= cause.cause_type %>
      <% end %>

    <strong>Organization Size: </strong> <%= @organization.size %><br><br>
    <strong>Website: </strong> <%= @organization.url %><br><br>
    <strong>Mission: </strong> <%= @organization.mission %><br><br>
    <strong>Program Description: </strong> <%= @organization.description %><br><br>
</div>
