<div class="dash_content">
  <h1><%= @organization.org_name %></h1>

  Year Founded: <%= @organization.year_founded %><br><br>
  Causes: 
  <% @organization.causes.each do |cause| %>
    <%= cause.cause_type %>,
  <% end %>
  <br><br>
  Organization Size: <%= @organization.size %><br><br>
  Website: <%= @organization.url %><br><br>
  Mission: <%= @organization.mission %><br><br>
  Program Description: <%= @organization.description %><br><br>
</div>
