<div class="dash_content">
  <h1>ORGANIZATION PROFILE</h1>
  
  <ul>
		<li><%= image_tag @organization.avatar.url(:thumb) %></li>
    <li>Name: <%= @organization.org_name %></li>
    <li>Year Founded: <%= @organization.year_founded %></li>
    <li>Causes: </li>
      <ul>
      <% @organization.causes.each do |cause| %>
      <li><%= cause.cause_type %></li>
      <% end %>
      </ul>
    <li>Organization Size: <%= @organization.size %></li>
    <li>Website: <%= @organization.url %></li>
    <li>Mission: <%= @organization.mission %></li>
    <li>Program Description: <%= @organization.description %></li>
  </ul>
</div>
