<div id="footer_left"> <!-- start footer_left -->
	<h3>GEEKSEEK.ME</h3>
	<div class="link_line"><%= link_to 'Browse Projects', browse_projects_path  %></div>
  <% if user_signed_in? %>
      <% if current_user.organization? %>
        <div class="link_line"><%= link_to 'View Dashboard', organization_path  %></div>
      <% end %>

      <% if current_user.volunteer? %>
        <div class="link_line"><%= link_to 'View Dashboard', volunteer_path %></div>
      <% end %>

      <div class="link_line"><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></div>
  <% else %>
      <div class="link_line"><%= link_to 'Sign In', new_user_session_path, :class => 'sign_in_button' %>
        <%= render "devise/sessions/sign_in" %>
      </div>
  <% end %>
</div> <!-- end footer_left -->

<div id="footer_center"> <!-- start footer_center -->
	<h3>FOLLOW US</h3>
	<div class="social_line">
	<%= image_tag '/assets/social_icon_fb.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'facebook.com/geekseekme', 'http://www.facebook.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_twitter.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'twitter.com/geekseekme', 'http://www.twitter.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_pinterest.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'pinterest.com/geekseekme', 'http://www.pinterest.com' %></span>
	</div>

	<div class="social_line">
	<%= image_tag '/assets/social_icon_youtube.png', class: 'social_icon' %>
	<span class="social_text"><%= link_to 'youtube.com/geekseekme', 'http://www.youtube.com' %></span>
	</div>
</div> <!-- end footer_center -->

<div id="footer_right"> <!-- start footer_right -->
	<h3>GEEKSEEK</h3>
	GeekSeek brings together developers and designers looking to use their skills to give back to non-profits who need them most. We've made it simple for organizations to post project requests, and our easy to use search functions mean volunteers can find the perfect project in no time. Ready to get started? Click the sign up link above to start your GeekSeek!
</div> <!-- end footer_right -->