<%= form_tag browse_projects_path, method: "get", remote: true, id: 'search_form' do |f| %>
  <h2>CAUSES</h2>

  <% @causes.each do |cause| %>
<span><%= check_box_tag("search[cause_ids][]",  cause.id) %><%= label_tag(cause.cause_type) %> </span> <br>
  <% end %>

  <h2>CATEGORIES</h2>
  <% @categories.each do |category| %>
   <span> <%= check_box_tag "search[category_ids][]", category.id %> <%= category.category_type %> </span><br>
  <% end %>

  <%= submit_tag :submit, class: "search_button"%>
  <br>
<% end %>
